<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>关于本站</title>

</head>

<body>
    <div class="container">
<br>
        <div class="panel panel-success">
            <div class="panel-heading">



                <h2>关于本站  <span class="glyphicon glyphicon-send" aria-hidden="true"></span></h2>

            </div>
            <div class="panel-body">
		
                <h3>主旨</h3>
                <p>本网页是专为考研人设计的，大家将自己的计划写下，互相监督学习，以“制定计划——完成计划”的正反馈提高个人执行力的网站。基于Web的数据可视化，让任何人能随时随地查看、更新自己的学习进度，也能看到你的竞争对手现在完成了多少任务，<mark>通过互相监督提高计划的执行力和时间紧迫感。</mark>
                </p>
                <h3>用法</h3>
		<ol><li>
 周日或下周一从自己的月计划表中提取本周学习任务，在网页上提交；
	
			</li>
	<li>每天早上从周计划表中提取任务，在卡片或手机备忘录中写下自己的日计划；</li>
	<li>完成某项或某几项后在网页上打钩，并点击自己的名字提交数据；</li>
<li>周日总结自己这周学习情况：完成了多少、学习效率如何，下周该学什么，这个月总目标完成多少……也可以看看大家的任务完成情况。</li>
</ol>
		<h3>架构</h3>
                <ul>
                    <li>前端：jQuery+bootstrap+Html5</li>
                    <li>中间件：body-parser</li>
                    <li>后端：express</li>
			<li>模板引擎：art-template</li>
                    <li>数据库：mongodb(mongoose)</li>
                    
                    <li>云：腾讯云服务器
                    </li>
                </ul>
                <h3>开发日志</h3>
                <ul>
                    <li>2018-5-12 V1.0：任务表提交、首页展示任务表</li>
                    <li>2018-5-18 V2.0：进度条随勾选框更新、保存进度功能、新增说明页面</li>
		    <li>2018-5-24 V2.1：新增首页表格按进度条排名功能，现在首页上表格从上往下是按照进度排名的，而不是提交的先后次序</li>
			<li>2018-5-25: 服务器迁移到腾讯云
                    <li>目前大家提过的需求:<ul>
			<li>实现身份验证功能，让每个人只能自己保存自己的进度（可以做但是增加了网站繁琐性，每次都得登录账户并不方便）（已经有两位同学反馈了，再有一位同学提就做）</li>
			<li>每门学科的任务数可以设置得更多，不仅仅是三条（这个得修改后台程序的逻辑了）</li>
			<li>新增日计划表页面（可以做）</li>
			<li>……</li>
			</ul>
		</li>
 <li>小伙伴们快来找我提需求啊，我会视具体情况改进~</li>

                </ul>
                <h3><a href="https://github.com/guhang987/418pages" target="_blank">点击查看源代码</a></h3>
            </div>
            <br>
</div>
            <div class="panel panel-primary">
                <div class="panel-heading">


                    <h2>关于开发者  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></h2>
                </div>
                <div class="panel-body">
                    <blockquote>
                        <p>我无限热爱着新的一日</p>
			<p>今天的太阳 今天的马 今天的花楸树</p>
			<p>使我健康 富足 拥有一生</p>
			<footer>《幸福一日致秋天的花楸树》，海子</footer>
                    </blockquote>
                    <p><strong>古航</strong>，<a href="https://blog.csdn.net/Protocols7"
                            target="_blank"></a></p>
                   <p>联系我：15班H6 &nbsp;</p>
                </div>
            </div>
</body>
<script type="text/javascript">
    window.onload = clock;
    function clock() {
        var today = new Date(),//当前时间
            h = today.getHours(),
            m = today.getMinutes(),
            s = today.getSeconds();
        var stopTime = new Date("May 25 2019 00:00:00"),//结束时间
            stopH = stopTime.getHours(),
            stopM = stopTime.getMinutes(),
            stopS = stopTime.getSeconds();
        var shenyu = stopTime.getTime() - today.getTime(),//倒计时毫秒数
            shengyuD = parseInt(shenyu / (60 * 60 * 24 * 1000)),//转换为天
            D = parseInt(shenyu) - parseInt(shengyuD * 60 * 60 * 24 * 1000),//除去天的毫秒数
            shengyuH = parseInt(D / (60 * 60 * 1000)),//除去天的毫秒数转换成小时
            H = D - shengyuH * 60 * 60 * 1000,//除去天、小时的毫秒数
            shengyuM = parseInt(H / (60 * 1000)),//除去天的毫秒数转换成分钟
            M = H - shengyuM * 60 * 1000;//除去天、小时、分的毫秒数
        S = parseInt((shenyu - shengyuD * 60 * 60 * 24 * 1000 - shengyuH * 60 * 60 * 1000 - shengyuM * 60 * 1000) / 1000)//除去天、小时、分的毫秒数转化为秒
        document.getElementById("clock").innerHTML = (shengyuD + "天" + shengyuH + "小时" + shengyuM + "分" + S + "秒" + "<br>");
        // setTimeout("clock()",500);
        setTimeout(clock, 500);
    }
</script>

</html>
